body {
	background-image: url('background.jpg');
	background-size: cover;
}

.hand {
	display: inline-block;
	/*float left;*/
	width: 26rem;
	padding: 2rem;
	height: 30rem;
	border-radius: 8px;
	margin: 0, 6rem, 0, 2rem;
}
#playerHand {
	float: left;
}
#computerHand {
	float: right;
}
#wagerBoard {
	display: block;
	clear: both;
	margin: 0 auto;
	padding: 3rem;
}
.playerHand {
	background: rgba(0,0,200,.6);
}
.computerHand {
	background: rgba(200,0,0,.6);
	display: hidden;
	float: right;
}
.die {
	display: inline-block;
	margin: 8px 8px 4px 8px;
	width: 8rem;
	height: 8rem;
	border-radius: 10%;
}
.pip {
	position: relative;
	display: inline-block;
	float: left;
	height: 1.6rem;
	width: 1.6rem;
	border-radius: 50%;
	margin: .52rem;
}
.wagerDie {
	display: inline-block;
	margin: 5px 5px 2.5px 5px;
	width: 5rem;
	height: 5rem;
	border-radius: 10%;
	background: rgba(45,45,45,.9);
}
.wagerDie .pip {
	position: relative;
	display: inline-block;
	float: left;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	margin: .33rem;
}
.empty {
	background: rgba(0,0,255,0);
}
.filled {
	position: relative;
	display: inline-block;
	background: rgba(220,220,220,1); 
}

/*STYLING FOR A 0NE FACE*/
.die1 .pip4 {
	background: rgba(220,220,220,1)
}

/*STYLING FOR A TWO FACE*/
.die2 .pip0, .die2 .pip8  {
	background: rgba(220,220,220,1)
}

/*STYLING FOR A THREE FACE*/
.die3 .pip0, .die3 .pip4, .die3 .pip8 {
	background: rgba(220,220,220,1)
}

/*STYLING FOR A FOUR FACE*/
.die4 .pip0, .die4 .pip2, .die4 .pip6, .die4 .pip8 {
	background: rgba(220,220,220,1)
}

/*STYLING FOR A FIVE FACE*/
.die5 .pip0, .die5 .pip2, .die5 .pip4, .die5 .pip6, .die5 .pip8 {
	background: rgba(220,220,220,1)
}

/*STYLING FOR A SIX FACE*/
.die6 .pip0, .die6 .pip2, .die6 .pip3, .die6 .pip5, .die6 .pip6, .die6 .pip8 {
	background: rgba(220,220,220,1)
}

.die6 {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
  	50% { 
  		background: rgba(255,255,255,.6); 
  	}
}

/*
#popps {
  height: 100px;
  width: 100px;
  background: rgb(255,255,0);
  border-radius: 50%;
  animation: blinker 1.5s linear infinite;
}
@keyframes blinker {  
  50% { background: rgb(75,75,75); }
}
*/
